.logInPage{
  background: linear-gradient(rgba(11,11,11,0.5),rgba(10,10,10,0.5)), url('Images/hr.jpg');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: 100% 200%;
}

.logInForm{
  background-color: rgba(36, 36, 84, 0.5) ;
  color: white;
}

.empImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;

}
 
.btn{
  margin: 2px;
  border-radius: 10%;
  align-items: center bold;
}

.empImg2 {
    width: 300px;
    height: 325px;
    border-radius: 50%;
}
